*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #c6c9cb;
}
#MyNav{
    box-shadow: 0px 2px 10px #000;
}
.carousel-item img{
    width: 100%;
    height: 90vh;
}
#king{
    display:block;
    margin:0px auto;
}
.MyImg{
    width: 350px;
}
.Cards{
    border-radius: 20px;
    box-shadow: 0px 2px 5px #000;
}

.Cards>img{
    border-radius: 20px 20px 0px 0px;
}
.MyClint2{
    box-shadow: 0px 5px 5px #000;
}
.MyClint>img{
    width: 15rem;
    border-radius: 50%;
}
.MyFooter2{
    color: white;
    text-align: center;
}
.MyFooter>ul>li{
    list-style: none;
}

.KingAK{
    box-shadow: 0px 2px 5px #000;
}

.KingAK2{
    margin-bottom: 7px;
}
/*#About-King{
    display: grid;
}
.MyTeam{
    display: grid;
}*/